* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.vertical {
    margin: auto;
    left: 30%;
    position: absolute;
    width: 5px;
    height: 100vh;
    color: black;
}
.sidebar {
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 1%;
    padding-top: 55px;
}

p {
    color: #6a6a6a;
    font-size: x-small;
}
i {
    padding-right: 10px;
}


.link-log {
    margin-bottom: 1px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
    height: 125px;
    padding-top: 0px;
    margin-top: 0px;
}

.link-log li{
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 6px;
    font-size: x-small;
    color: #c2c2c2;
}


.link {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}


label {
    opacity: 70%;
    color: #afafaf;
    font-size:xx-small;
}

.Apps {
    top: 0;
    padding-left: 1%;
    padding-top: 55px;
}

p:hover {
    color: rgb(7, 88, 194);
}

